<link rel="stylesheet" href="/css/home.css">
<!-- container for habits -->
<div class="container rounded bg-white shadow p-3 mb-5" id="box">
    <!-- input to add habits -->
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add New Habit" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
        <button class="btn btn-success" type="button" id="button-addon2"><i class="fa fa-plus"></i> Add Habit</button>
        </div>
    </div>
    <!-- list for habits -->
    <div>
        <ul class="list-group" id="habits">
            <li class="list-group-item list-group-item-success">
                <div class="habit-info">
                    <span id="habit-name"><h4>Cras justo odio</h4> </span>
                    <button id="remove" class="btn btn-danger">
                        <i class="fa fa-times"></i> Remove
                    </button>
                </div>
                <div class="habit-streak">
                    <p>1 Day</p>
                    <p>9 Best</p>
                    <p>38/82</p>
                    <p>Daily</p>
                </div>
                
            </li>
            <li class="list-group-item list-group-item-success">
                <div class="habit-info">
                    <span id="habit-name"><h4>Cras justo odio</h4> </span>
                    <button id="remove" class="btn btn-danger">
                        <i class="fa fa-times"></i> Remove
                    </button>
                </div>
                <div class="habit-streak">
                    <p>1 Day</p>
                    <p>9 Best</p>
                    <p>38/82</p>
                    <p>Daily</p>
                </div>
                
            </li>
            <li class="list-group-item list-group-item-success">
                <div class="habit-info">
                    <span id="habit-name"><h4>Cras justo odio</h4> </span>
                    <button id="remove" class="btn btn-danger">
                        <i class="fa fa-times"></i> Remove
                    </button>
                </div>
                <div class="habit-streak">
                    <p>1 Day</p>
                    <p>9 Best</p>
                    <p>38/82</p>
                    <p>Daily</p>
                </div>
                
            </li>
            <li class="list-group-item list-group-item-success">
                <div class="habit-info">
                    <span id="habit-name"><h4>Cras justo odio</h4> </span>
                    <button id="remove" class="btn btn-danger">
                        <i class="fa fa-times"></i> Remove
                    </button>
                </div>
                <div class="habit-streak">
                    <p>1 Day</p>
                    <p>9 Best</p>
                    <p>38/82</p>
                    <p>Daily</p>
                </div>
                
            </li>
          </ul>
    </div>

</div>
